@import './main.css';

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #3c3642;
  margin-bottom: 4px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #6f5f7f;
  margin-bottom: 2px;
}

input {
  width: 100%;
  border: 2px solid #6eceda;
  background-color: beige;
  font-weight: 500;
  color: steelblue;
  padding: 6px 4px;
  margin-block: 3px;
}

textarea {
  border: 2px solid #6eceda;
  background-color: beige;
  margin-block: 4px;
}

p {
  font-weight: 500;
  color: steelblue;
}

button {
  display: block;
  margin-block: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #b1667e;
  border: 2px solid burlywood;
  border-radius: 8%;
}

.guessBtn {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #588b71;
  border: 2px solid #c9decf;
  border-radius: 8%;
}
